html {
	height: 100%;
}
body {
	height: 100%;
	&.http-error {
      background-color: $http-error-bg-color;
    }
}
.landing-content {
	height: 100%;
}
.banner-container {
	text-align: center;
}
.banner {
	margin-bottom: .2em;
}
.phone-number {
	&:before {
		content: "\260E\0020";
	}
}
.landing-row {
	display: flex;
	align-content: center;
	align-items: center;
	margin: 0 auto;
}
.landing-column {
	float: left;
	&:first-child {
		margin-right: 5em;
	}
}
.inline-center {
	margin: 0 auto;
}
.align-middle {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and ( max-width: $break-medium ) {
  .landing-column {
    &:first-child {
      margin-right: 3em;
    }
  }
}
@media screen and ( max-width: $break-small ) {
  .landing-row {
    display: inline-block;
    flex-wrap: wrap;
  }
  .landing-column {
    float: none;
    margin-right: 0;
  }
  .site-title {
    text-align: left;
  }
}