// media properties //
$break-medium: 1080px;

// base font properties //
$app-base-font-family: 'Open Sans', Trebuchet, sans-serif;
$app-base-font-size: 100%;
$app-base-mobile-font-size: 120%;
$app-base-text-color: white;

// animation //
$bg-duration: 90s;
$gradient-duration: 60s;
