body, h1 {
	color: $app-base-text-color;
	font: {
		family: $app-base-font-family;
		weight: 300;
	}
}
.site-title,
.banner {
	font-size: 3.6em;
	color: rgba($app-base-text-color, 0.8);
}
.site-title {
	text-align: center;
	font-weight: 600;
}
.banner-extras {
	font-size: 2.2em;
	line-height: 1.8em;
	color: rgba($app-base-text-color, 0.8);
	a {
		&:link {
			color: $app-base-text-color;
		}
		&:hover {
			text-decoration: underline;
		}
	}
}
@media screen and ( max-width: $break-medium ) {
	.site-title,
	.banner {
		font-size: 3.0em;
	}
}
@media screen and ( max-width: $break-small ) {
  .site-title {
    text-align: left;
  }
}
