:root {
  font-size: calc(1vw + 1vh + .5vmin);
}
body, h1 {
	color: $app-base-text-color;
	font: {
		family: $app-base-font-family;
		weight: 300;
	}
}
.site-title {
	font-size: 2.4em;
}
.banner,
.banner-extras {
  font-size: 1.8em;
}
.site-title,
.banner {
	color: rgba($app-base-text-color, 0.8);
}
.site-title {
	text-align: center;
	font-weight: 600;
}
.banner-extras {
	line-height: 1.8em;
	color: rgba($app-base-text-color, 0.8);
	a {
		&:link {
			color: $app-base-text-color;
		}
		&:hover {
			text-decoration: underline;
		}
	}
}
@media screen and ( max-width: $break-small ) {
  .site-title {
    font-size: 3.0em;
  }
  .banner,
  .banner-extras {
    font-size: 2.0em;
  }
  .site-title,
  .banner,
  .banner-extras {
    text-align: left;
  }
}
